__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.ipynb_checkpoints/
.vscode/
.DS_Store
Thumbs.db
*.log
*.tmp

# DELFT_NEW large data / outputs
DELFT_NEW/*_dysco_output/

DELFT_NEW/**/*.nii
DELFT_NEW/**/*.nii.gz
DELFT_NEW/**/*.npy
DELFT_NEW/**/*.gz
DELFT_NEW/**/*.jpg
DELFT_NEW/**/*.jpeg
DELFT_NEW/**/*.gif

# Ignore remaining DELFT_NEW files that are too large for GitHub
DELFT_NEW/*/*_allruns_4d.gz
DELFT_NEW/*_dysco_output/
DELFT_NEW/**/*.npy

# GUI media (optional)
Python/GUI/*.png
Python/GUI/*.jpg
Python/GUI/*.jpeg
Python/GUI/*.gif
Python/GUI/*.mp4
Python/GUI/*.mp3

# temp + test data
Python/Pipelines/fake_batch_dysco_results/
Python/Pipelines/test_data_dysco_measures/
Python/Pipelines/tempCodeRunnerFile.py

# local data
Python/data/
fake_fmri_data/
