__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.ipynb_checkpoints/
.vscode/
.DS_Store
Thumbs.db
*.log
*.tmp

# DELFT_NEW large data / outputs
DELFT_NEW/*_dysco_output/

DELFT_NEW/**/*.nii
DELFT_NEW/**/*.nii.gz
DELFT_NEW/**/*.npy
DELFT_NEW/**/*.gz
DELFT_NEW/**/*.jpg
DELFT_NEW/**/*.jpeg
DELFT_NEW/**/*.gif

# Ignore remaining DELFT_NEW files that are too large for GitHub
DELFT_NEW/*/*_allruns_4d.gz
DELFT_NEW/*_dysco_output/
DELFT_NEW/**/*.npy
